  @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} */
body{
  font-size: 16px;
  background: hsl(0, 0%, 97%);
  font-family: 'Commissioner', sans-serif;
}

.container{
  max-width: 100%;
  background-image: url('images/image-hero-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height: 60vh;
  top: 0;
  /* position: relative; */
  z-index: 1;
}
.header{
  display: flex;
  align-items: center;
  padding: 50px 80px;
  justify-content: space-between;
  min-width: 100%;
}
.header nav{
  align-items: center;
}
.close-btn{
  display: none;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  text-align: right;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.small-container{
  width: 900px;
  margin: auto;
  /* padding:0px 50px; */
  position: absolute;
  top: 350px;
  left: 20%;
  /* background-color: #fff; */
}
.ms-logo{
  top: -30px;
  position: relative;
  left:50%;
}
p{
  color:hsl(0, 0%, 48%);
}

.col{ 
  padding:40px 50px; 
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 100%;
}
.head{
  padding-top: 0px;
}
.heading{
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
  color: hsl(0, 0%, 0%);
}
.heading-text{
  text-align: center;
  margin-bottom: 40px;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.head-btn{
  padding: 15px 25px;
  border-radius: 25px;
  color:hsl(0, 0%, 100%);
  background: hsl(176, 50%, 47%);
  border: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.head-btn:hover{
  background-color: hsl(176, 72%, 28%);
}
.bookmark-btn{
  display: flex;
  align-items: center;
}
.bookmark-btn button{
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  font-size: 12px;
  font-weight: 700;
  color: hsl(0, 0%, 48%);
  padding: 15px 20px;
  padding-left: 40px;
  border-radius: 25px;
}
.bk-img{
  width: 45px;
  height: 45px;
  right: 145px;
  position: absolute;
}
.wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
} 
.item{
  margin-left: 50px;
  margin-right: 50px;
}
.item h1{
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}
.item p{
  font-size: 13px;
}
.backed{
  margin-left: 0px;
}
.backers{
  margin-right: 100px;
}
.length{
  margin-top: 35px;
  border-radius: 15px;
  width: 100%;
  height: 13px;
  align-self: last baseline;
  background: hsl(0, 6%, 80%);
  position: relative;

}
.grey{
  background: hsl(176, 50%, 47%);
  width: 80%;
  position: absolute;
  border-radius: 15px;
  width: 80%;
  height: 13px;
}
/* -----------About------------------------- */
.row-2 h2{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}
.row-2 p{
  line-height: 2rem;
  margin-bottom: 30px;
}
.edition-row{
  border: 1px solid hsla(0, 0%, 48%, 0.711);
  border-radius: 10px;
  padding:30px 25px;
  margin-bottom: 25px;
}

.edition-row h2{
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.edition-row span{
  font-size: 15px;
  color: hsl(176, 50%, 47%);
}
.edition-row p{
  line-height: 2rem;
  margin-bottom: 25px;
}
.reward{
  display: flex;
  justify-content: space-between;
}
.reward h3{
  font-weight: 700;
  font-size: 28px;
}
small{
  color: hsl(0, 0%, 48%);
  font-size: 12px;
}
.fade{
  opacity: 0.4;
  color: hsl(0, 0%, 48%);
  margin-bottom: 10px;
}
.fade .btn{
  background: hsl(0, 0%, 48%);
}
.menu{
  display: none;
}
/* -----------Modal------------------- */

.container-1{
  background-color: hsla(0, 0%, 48%, 0.533);
  top:0;
  width: 100%;
  height: 100%;
  display: none;
  /* visibility: hidden; */
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  /* right:0; */
  z-index: 2;
}

.overlay{
  /* display: none; */
  position: relative;
  background: hsl(0, 0%, 100%);
  top: 160px;
  left: 0%;
  width: 900px;
  /* height: 100%; */
  margin: auto;
}
.close-modal{
  display: block;
  margin: auto 100%;
  cursor: pointer;
}
.overlay h1{
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.overlay p{
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.edition-row p{
letter-spacing: 0.5px;
}
.mahogany{
  opacity: 0.5;
 }
.radio-btn{
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start;
  justify-content: flex-start; */
}

/*.radio-btn h2{
  font-size: 16px;
  margin-right: 20px;
} */
.radio-btn span{
  color: hsl(176, 50%, 47%);
  font-weight: 600;
  margin-left: 20px;
}
.radio-btn h3{
  margin-left: 40%;
  font-size: 14px;
  
}
.radio-btn small{
  margin-left: 5px;
  font-size: 12px;
}
.modal:hover{
  border: 3px solid hsl(176, 50%, 47%);
}
label{
  font-weight: 700;
  font-size: 14px;
}
label:hover{
color: hsl(176, 50%, 47%);
}
input[type="radio"]{
  /* accent-color: hsl(176, 50%, 47%); */
  margin-right: 20px;
  width: 25px;
  height:25px;
  border: #fff;
  }


/* #mypledge{
  display: none;
} */
.pledge{
  display: none;
  justify-content: space-between;
  align-items: center;
  /* visibility: hidden; */
  margin-top: 20px;
}
.pledge p{
  font-size: 16px;
}
.pledge-line{
  margin-bottom: 20px;
  display: none;
}
.pledge-btn{
  padding: 15px 30px 20px 15px;
  border-radius: 25px;
  border: 1px solid hsl(0, 1%, 64%);
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: 700;
  width: 100px;
}
.pledge-btn:hover{
  border: 1px solid hsl(176, 50%, 47%);
  cursor: pointer;
}
.confirm-btn{
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
  }
  .confirm-btn:hover{
    cursor: pointer;
    background-color: hsl(176, 72%, 28%);
  }

.pledge-end{
  display: flex;
  justify-content: flex-end;
  margin-left: 40px;
}
.line{
  display: none;
}
/* --------Support page---------------- */
.container-2{
  display: none;
  width: 100%;
  background-color: hsla(0, 0%, 48%, 0.533);
  height: 100%;
  top:0;
  position: fixed;
}
.support{
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  height: 400px;
  top:50%;
  left: 50%;
  overflow: hidden;
}
.support-head{
  margin: 30px 0px;
}
.support-text{
  line-height: 1.5rem;
  margin-bottom: 30px;
}
.supportbtn:hover{
  background-color: hsl(176, 72%, 28%);

}






@media screen and (max-width:800px) {
  .menu{
    display: block;
  }
  .container{
    background-image: url('images/image-hero-mobile.jpg');
    max-width: 100%;
    min-width: fit-content;
    background-size: cover;
    height: 50vh;
    top: 0; 
  }
  nav{
    display: none;
    background: hsl(0, 0%, 100%);
    width: 90%;
    position: absolute;
    top: 70px;
    height: 45%;
    z-index: 1;
    border-radius: 15px;
    border-bottom: 1px solid hsl(0, 0%, 48%);
  }
  .line{
    display: block;
    width: 100%;
  }
  nav ul li{
    display: block;
    text-align: left;
    margin: 20px;
    margin-top: 40px;
  }
    nav ul li a{
    color: #000;
    padding-bottom: 20px;
    padding-top: 20px;
    
  }
  .header{
    padding: 20px 20px;
  }
  .head{
    text-align: center;
    max-width: 800px;
    width: 300px;
    padding: 20px;
  }
  .heading{
    font-size: 22px;
  }
  .heading-text{
    font-size: 13px;
  }
  .small-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    margin:  auto;
    position: absolute;
    align-items: center;
    top: 200px;
    left: 0%;
    background-color: #ffffff1f;
   }
   
  .ms-logo{
    top:-45px;
    left: 0%;
  }
  .bookmark-btn button{
    display: none;

  }
  .bk-img{
    right: -10px;
    position: relative;
  }

  .wrap{
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: center;
  }
  hr{
    border: 1px solid hsl(0, 0%, 48%);
    opacity: 0.3;
    width: 60px;
  }
  .wrap h1{
    font-size: 20px;
    text-align: center;
  }
  .wrap p{
    margin-bottom: 10px;
  }
  .item{
    margin: 0px;
    margin-bottom: 0px;
  }
  .backers{
    margin-right:0px;
  }
  .row{
    justify-content: center;
  }

  /* --------------About */
  .col{
    width: 90%;
    margin-bottom: 20px;
    padding: 20px;
  }
  .row-2 h2{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .break{
    display: none;
  }
  .row-2 p{
    font-size: 12px;
  }
.edition-row{
  padding: 20px;
}
  .edition-row h2{
    font-size: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
  .edition-row span{
    margin-top: 10px;
    font-size: 12px;
  }
  .edition-row p{
    margin-bottom: 20px;
    font-size: 12px;
  }
  .reward{
    flex-direction: column;
  }
  .reward h3{
    margin-bottom: 20px;
  }
  .btn{
    width: 80%;
  }

  /* =-------------------Modal */
  .container-1{
    max-width: 100%;
    min-width: fit-content;
    margin:  auto;
    position: absolute;
    align-items: center;
    z-index: 4;
    height: 80cm;
    /* visibility: hidden; */
  } 
 
  /* .mobile{
    position: fixed;
  } */
  .modal{
    /* height: 350px; */
    min-height:320px;
  }
  .modal.height{
    min-height: 400px;
  }
  
  .bamboo{
    height: 300px;
  }
  .black{
    height: 250px;
  }
  .overlay{
    /* height: ; */
    top: 80px;
    margin: 0px;
    left:0px ;
    right: 0px;
    margin: auto 20px;
    position: absolute;
    z-index: 6;
  }
  .close-modal{
    margin: auto 90%;

  }
  .overlay h1{
    font-size: 16px;
    top: 0px;
    position: absolute;
  }
  .overlay p{
    margin-top: 20px;
    line-height: 1.5rem;
    font-size: 12px;
    letter-spacing: normal;
  }

  .radio-btn{
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .radio-btn h3{
    margin-left: 0px;
    margin-top: 180px;
    position: absolute;
  }
  .radio-btn h2{
    align-items: center;
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: hsl(0, 0%, 0%)
  }
  .radio-btn span{
    margin-left: 35px;
    margin-top: 0px;
  }
  input[type="radio"]{
    margin-right: 7px;
  }
 
  .edition-row p{
    line-height: 1.5rem;
    margin: 20px auto;
  }
  .row.pledge{
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    display: none;
  }
  .pledge{
    display: none;
  }
  .row .pledge-text{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .pledge-line{
    margin-bottom: 0px;
    margin-top: 40px;
    width: 100%;
  }
  .pledge-end{
    margin-bottom: 10px;
  }
  .pledge-btn{
    padding: 10px 25px 15px 10px;
    margin-right: 0px;
  }
  .confirm-btn{
      padding: 10px 25px;
      margin-left: 20px;
    }
    /* support page */
    .support{
      width: 80%;
    }
    .support-head{
      margin:20px 0px;
      font-size: 20px;
      font-weight: 700;
    }
    .support-text{
      line-height: 1.5rem;
      margin-bottom: 30px;
      font-size: 12px;
    }
}